/.github @hiddenmarten @AlexGluck @aobort
/api @sircthulhu @Kirill-Garbar
/charts @hiddenmarten @AlexGluck @aobort
/cmd @sircthulhu @Kirill-Garbar
/config @sircthulhu @Kirill-Garbar
/hack @sircthulhu @Kirill-Garbar
/internal @sircthulhu @Kirill-Garbar @sergeyshevch
/test @sircthulhu @Kirill-Garbar @hiddenmarten @AlexGluck @aobort
/site @sergeyshevch @Kirill-Garbar
/*.md @kvaps @Kirill-Garbar
