/.github @kvaps @lllamnyp @Kirill-Garbar @aobort
/api @kvaps @lllamnyp @Kirill-Garbar @aobort
/charts @kvaps @lllamnyp @Kirill-Garbar @aobort
/cmd @kvaps @lllamnyp @Kirill-Garbar @aobort
/config @kvaps @lllamnyp @Kirill-Garbar @aobort
/hack @kvaps @lllamnyp @Kirill-Garbar @aobort
/internal @kvaps @lllamnyp @Kirill-Garbar @aobort
/pkg @kvaps @lllamnyp @Kirill-Garbar @aobort
/test @kvaps @lllamnyp @Kirill-Garbar @aobort
/site @kvaps @lllamnyp @Kirill-Garbar @aobort
/*.md @kvaps @lllamnyp @Kirill-Garbar @aobort
