/.github @hiddenmarten @AlexGluck
/api @sircthulhu @Kirill-Garbar
/charts @hiddenmarten @AlexGluck 
/cmd @sircthulhu @Kirill-Garbar
/config @sircthulhu @Kirill-Garbar
/hack @sircthulhu @Kirill-Garbar
/internal @sircthulhu @Kirill-Garbar
/test @hiddenmarten @AlexGluck
/site @sergeyshevch @Kirill-Garbar
/*.md @kvaps @Kirill-Garbar 
