name: Make run tests

on:
  pull_request:
    types:
      - opened
      - labeled
      - synchronize

jobs:
  test:
    # Pull request has label 'ok-to-test' or the author is a member of the organization
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test') || contains(fromJSON('["COLLABORATOR", "MEMBER", "OWNER"]'), github.event.pull_request.author_association)
    strategy:
      matrix:
        k8s_version: [1.27.1,1.28.0,1.29.0]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-go@v5.0.0
        with:
          go-version: 1.22.2
      - run: ENVTEST_K8S_VERSION=${{ matrix.k8s_version }} make test
