name: Nilaway lint

on:
  pull_request:

jobs:
  nilaway-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: actions/setup-go@v5.6.0
        with:
          go-version: 1.25.5
      - run: make nilaway-lint
