name: Pre-commit

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: 1.22.4
      - uses: pre-commit/action@v3.0.1
